<div class="modal fade" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{t "modal.saveRetry.title"}}</h4>
      </div>
      <div class="modal-body">
        <p>{{t "modal.saveRetry.text"}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action "saveRetry"}}>{{t "modal.saveRetry.buttonRetry"}}</button>
      </div>
    </div>
  </div>
</div>